// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dash-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 100px;
  width: 70%;
  border-bottom: 1px solid gray;
  color: #70b2d8;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.navbar a, .navbar p {
  margin: 0px 10px;
  color: gray;
}

.navbar a:hover {
  color: #70b2d8;
  text-decoration: underline;
  cursor: pointer;
}

.dash-index {
  margin-top: 50px;
  width: 70%;
  border: 1px solid black;
}

.index-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 50px;
  width: 100%;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 30px;
}

.index-header button {
  height: 40px;
  width: 175px;
  border: 0px;
  font-size: 25px;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
  background-color: #70b2d8;
}

.index-header button:hover {
  background-color: darken(#70b2d8, 10);
  cursor: pointer;
}

.index {
  border: 1px solid black;
  min-height: 50px;
  width: 100%;
}

.canvas-form {
  display: flex;
}

.canvas-form button {
  width: 100px;
}

.canvas-form button:first-of-type {
  background-color: lightgray;
}

.canvas-form button:first-of-type:hover {
  background-color: darken(lightgray, 10);
}

.canvas-form input {
  width: 250px;
  font-size: 20px;
}
