// Place all the styles related to the api/nodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.editor {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 50%;
  top: 0;
  border: 3px solid yellow;
}

.ql-container {
  background-color: white;
}
