<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>
<script type="text/javascript" src="node_modules/auth0-js/build/auth0.js"></script>
<main id="root"></main>
